body {
	background-image: url("../pics/sky.jpg");
}

#papier {
	margin-left: 36%;
    background-color: white;
    width: 37%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#headLine {
	margin-top: 50px;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	font-size: 50pt;
}

#Line {
	margin-top: 50px;
	margin-left: 5%;
	height: 5px;
	width: 90%;
	background-color: black;
}

#Text {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 25px;
	font-size: 14pt;
	text-align: justify;
	letter-spacing: 1.5;
}

@media screen and (max-width: 1750px) {
	#headLine {
		font-size: 42pt;
	}
}

@media screen and (max-width: 1680px) {
	#papier {
		margin-left: 45%;
	}
}

@media screen and (max-width: 1450px) {
	#headLine {
		font-size: 25pt;
	}
}

@media screen and (max-width: 895px) {
	#headLine {
		font-size: 18pt;
	}
}

@media screen and (max-width: 770px) {
	#papier {
		margin-left: 1%;
		margin-top: 50%;
		width: 98%;
		height: 100%;
	}
}