 @import url(https://reset5.googlecode.com/hg/reset.min.css);

#mainDivLehrinhalte {
    --monitor: 12%;/* Abstand zur Navigationsleiste bei verschiedenden Layouts. */
    --tablet: 25%;
    --handy-height: 40%;
    margin-left: var(--monitor);
}

#headLineLehrinhalte {
    color: darkblue;
    font-size: 75pt;
    padding-left: 40%;
}

img {
	height: 100%;
	width: 75%;
	margin-left: 10%;
}

@media screen and (max-width: 1680px) {
    #mainDivLehrinhalte {
        margin-left: 0;
    }

    #headLineLehrinhalte {
        padding-left: 5%;
		position: absolute;
		margin-left: var(--tablet);
    }
	
	img {
		margin-left: var(--tablet);
		margin-top: 100px;
	}
}

@media screen and (max-width: 770px) {
    #mainDivLehrinhalte {
        padding-top: var(--handy-height);
        margin-left: 0;
    }
	
	img {
		margin-left: 0;
		margin-top: 150px;
		width: 100%;
	}
	
	#headLineLehrinhalte {
		margin-left: 0;
		margin-top: 50px;
	}
}